<p>displayall works!</p>



<!-- <button  type="button" class="btn btn-primary"  (click)="getAllPlayers()" >Display All Players</button> -->

<div class="container">
<table class="table table-primary col-sm-5">

   <tr><th>PLAYERID</th><th>PLAYERNAME</th><th>JERSEYNUMBER</th><th>ROLE</th><th>TEAMNAME</th> <th>DELETE</th></tr> 
<tr *ngFor="let p of playerList; index as i"><td>{{i+1}}</td> <td>{{p.playerName}}</td><td>{{p.jerseyNumber}}</td> <td>{{p.role}}</td> <td>{{p.teamName}}</td>

      <td><button type="button" class="btn btn-danger"  (click)="deletePlayer(p.playerId)" >Delete</button></td>

</tr>

</table>
</div>